@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #d7d8da;
}
/*Header*/
header{
    background-image: url(https://images.pexels.com/photos/941861/pexels-photo-941861.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    width: 320px;
    padding-top: 25px;
}

.menu .navbar ul{
    list-style: none;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 27px;
    padding: 20px;
    color: #ffffff; 
    display: block;
    text-transform: uppercase;
}
/*menu servicios*/
.menu .navbar ul li a:hover{
    color: #000000;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.menu.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-content{
    display: flex;
    align-items: center;
    padding: 200px 0 150px 0;
    margin-bottom: 100px;
}

.header-txt{
    width: 100%;
    padding-right: 25px;
}

.header-txt h1{
    font-size: 100px;
    align-items: center;
    line-height: 70px;
    font-weight: 1000;
    color: #FDFDFD;
    margin-bottom: 25px;
}

.header-txt p{
    font-size: 25px;
    line-height: 50px ;
    color: #c3c1c1;
    align-items: center;
}

.menu-nav{
    display: flex;
    margin-bottom: 45px;
}

.product-menu{
    background-color: rgb(245, 245, 245);
    padding: 0px;
    margin-left: 100px;
    margin-right: 100px;
    border: 3px solid #000000;
}


.seccion {
    width: 100%;
    box-sizing: border-box;
    padding: -35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.texto {
    width: 50%;
    padding: 40px; /* Ajusta el ancho según sea necesario */
    box-sizing: border-box;
    font-size: 21px;
}

img {
    width: 50%; /* Ajusta el ancho según sea necesario */
    height: auto;
    margin-left: 0;
    margin-bottom: -20px;
    margin-top: 0;
    border: 0;
}

.separador {
    clear: both;
    margin-top: 20px;
}

/*Productos*/

.info{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/bg-info.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.info-content{
    display: flex;
    position: relative;
    padding: 20px 0 150px 0;
}

.info-txt{
    width: 60%;
    margin-top: 85px;
}

.info-txt h2{
    color: #000000;
    font-size: 55px;
    margin-bottom: 25px;
}

.info-txt p{
    font-size: 20px;
    color: #000000;
    margin-bottom: 25px;
}

.info-sec{
    display: flex;
}

.info-1{
    display: flex;
}

.info-1 img{
    width: 80px;
    height: 80px;
}

.info-2{
    margin-left: 20px;
}

.info-2 h3{
    color: #000000;
    font-size: 25px;
}

.info-2 p{
    color: #000000;
    font-size: 17px;
}

.info-img{
    position: absolute;
    right: 5px;
    top: 40px;
}
/*para afectar la imagen que se encuentra dentro*/
.info-img img{
    width: 500px;
}
/*footer*/
.footer{
    padding: 55px 0 55px 0;
    display: flex;
    justify-content: space-between;
}

.logo-2{
    width: 400px;
}

.links h4{
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 28px;
}
/*enlaces de abajo*/
.links ul li a{
    color: #000000;
    font-size: 18px;
    margin-bottom: 5px;
    display: inline-block;
}
/*redes sociales*/
.socials{
    display: flex;
}

.social{
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #000000;
    border-radius: 50%;
}

.social:hover{
    background-color: #DD241B;
}

.social img{
    margin: 8px 0 0 10px;
}

@media(max-width: 991px){
    .menu{
        padding: 20px;
    }

    .menu label{
        display: initial;
        cursor: pointer;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #F61706;
        display: none;
        flex-direction: column;
        align-items: center;
    }
/*menu*/

    .menu .navbar ul li{
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .menu .navbar ul li a:hover{
        color: #A0A0A0;
        font-size: 18px;
        padding: 20px;
        display: block;
        text-align: center;
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header-content{
        flex-direction: column;
        padding: 180px 30px 30px 30px;
    }

    .header-txt{
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .header-txt h1{
        font-size: 40px;
    }

    .header-img{
        width: 100%;
        margin-top: 45px;
    }

    .product-menu{
        padding: 30px;
    }

    .title{
        margin-bottom: 20px;
    }

    .menu-nav{
        flex-direction: column;
        align-items: center;
    }

    .info{
        padding: 30px;
        height: 70vh;
    }

    .info-txt h2{
        font-size: 40px;
    }

    .info-content{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info-txt{
        width: 100%;
        margin-top: 0px;
    }

    .info-txt p{ 
        margin-bottom: 5px;
    }

    .info-sec{
        flex-direction: column;
        padding: 0px 35px;
    }

    .info-1{
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }

    .info-2{
        margin-top: 10px;
        margin-left: 0;
    }

    .info-img img{
        display: none;
    }

    .socials{
        justify-content: center;
    }

    .social img{
        margin:8px 0 0 0;        
    }

    .footer{
        padding: 30px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .links h4{
        margin: 25px 0 10px 0;
    }
}